* {
    margin: 0;
    padding: 0;
  }

html {
  scroll-behavior: smooth;
}

  body{
      background: white;
       background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
  }
  
h1{
    font-size: 37px;
}

  .section{
      position: relative;
      width: 100%;
      height: 50vh;
      background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('./assets/background2.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  }
  .mainHeading{
      position: absolute;
      font-size: 6rem;
      padding: 20px;
      font-family: 'Roboto Condensed', sans-serif;
      margin: 15px;
      top: 5%  ;
      color: #38c4cf;
  }
  .cityinput{
      position: absolute;
      text-align: center;
      font-size: 4rem;
      top: 35%;
      padding: 10px;
      font-family: 'Roboto Condensed', sans-serif;
      margin: 10px;

  }
  .citybox{
      width: 50vw;
      height: 40px;
      background-color: rgb(167, 166, 166);
      outline: none;
      border-radius: 12px;
      padding-left: 20px;
      box-shadow:4px 4px 8px 0 rgba(0,0,0,.2)
  }
  .citybox:focus{
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
  }
  .city{
      color: #ffa64d;
      text-align: center;
      margin-top: 20px;
      font-size: 3rem;
  }
  .weatherCard{
      background-color:#9eebcf;
      display:inline-block;
      border-radius:.5rem;
      padding:3rem;
      margin:5px;
  }
  .grow{-moz-osx-font-smoothing:grayscale;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateZ(0);transform:translateZ(0);transition:-webkit-transform .25s ease-out;transition:transform .25s ease-out;transition:transform .25s ease-out,-webkit-transform .25s ease-out}
  .grow:focus,.grow:hover
  {-webkit-transform:scale(1.05);transform:scale(1.05)}
  .grow:active{-webkit-transform:scale(.9);transform:scale(.9)}

  .cards{
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
      justify-items: stretch;
      grid-gap: 0px;
      padding-bottom: 42px;
      padding-top: 40px;
      background-position: center;
      background-size: cover;
  }